*.ppm
*.png
*.bin
.directory
.vscode/
build/
misc/
*.sh
*.gltf
*.glb
*.txt
*.bak
*.a1
*.s1
*.snalyzerinfo
*.xml
*.cppcheck

#cmake stuff
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
